In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
first_cacao_df=pd.read_csv("data/flavors_of_cacao2.csv",encoding="utf-8")
first_cacao_df

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [3]:
first_cacao_df["Bean Type"].replace(" ", np.nan, inplace=True)
first_cacao_df["Broad Bean Origin"].replace(" ", np.nan, inplace=True)
first_cacao_df

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

In [4]:

first_cacao_df = first_cacao_df.rename(columns={'Company (Maker-if known)': "company", 'Specific Bean Origin or Bar Name': "specific_bean_origin",
       'Review Date': "review_date", 'Cocoa Percent': "cocoa_percent", 'Company Location': "company_location", 'Rating': "rating",
       'Bean Type': "bean_type", 'Broad Bean Origin': "bean_origin_country"})
first_cacao_df

,company,specific_bean_origin,REF,review_date,cocoa_percent,company_location,rating,bean_type,bean_origin_country
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

In [5]:
first_cacao_df.columns

Index(['company', 'specific_bean_origin', 'REF', 'review_date',
       'cocoa_percent', 'company_location', 'rating', 'bean_type',
       'bean_origin_country'],
      dtype='object')

In [6]:
#drop bean column
no_bean_df=first_cacao_df.loc[:, ['company', 'specific_bean_origin', 'review_date', 'cocoa_percent',
       'company_location', 'rating', 'bean_origin_country']]

no_bean_df

,company,specific_bean_origin,review_date,cocoa_percent,company_location,rating,bean_origin_country
0,A. Morin,Agua Grande,2016,63%,France,3.75,Sao Tome
1,A. Morin,Kpime,2015,70%,France,2.75,Togo
2,A. Morin,Atsane,2015,70%,France,3.00,Togo
3,A. Morin,Akata,2015,70%,France,3.50,Togo
4,A. Morin,Quilla,2015,70%,France,3.50,Peru
...,...,...,...,...,...,...,...
1790,Zotter,Peru,2011,70%,Austria,3.75,Peru
1791,Zotter,Congo,2011,65%,Austria,3.00,Congo
1792,Zotter,Kerala State,2011,65%,Austria,3.50,India
1793,Zotter,Kerala State,2011,62%,Austria,3.25,India
1794,Zotter,"Brazil, Mitzi Blue",2010,65%,Austria,3.00,Brazil

In [7]:
#Drop any rows that don't contain all bean type & origin conditions. 
cacao_clean_df=no_bean_df.dropna()

cacao_clean_df

,company,specific_bean_origin,review_date,cocoa_percent,company_location,rating,bean_origin_country
0,A. Morin,Agua Grande,2016,63%,France,3.75,Sao Tome
1,A. Morin,Kpime,2015,70%,France,2.75,Togo
2,A. Morin,Atsane,2015,70%,France,3.00,Togo
3,A. Morin,Akata,2015,70%,France,3.50,Togo
4,A. Morin,Quilla,2015,70%,France,3.50,Peru
...,...,...,...,...,...,...,...
1790,Zotter,Peru,2011,70%,Austria,3.75,Peru
1791,Zotter,Congo,2011,65%,Austria,3.00,Congo
1792,Zotter,Kerala State,2011,65%,Austria,3.50,India
1793,Zotter,Kerala State,2011,62%,Austria,3.25,India
1794,Zotter,"Brazil, Mitzi Blue",2010,65%,Austria,3.00,Brazil

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
cacao_clean_df.to_csv("cacao_clean.csv", index=False, header=True)

In [9]:
# Clean file with only dropna, keeping bean
cacaobean_dropna_df=first_cacao_df.dropna()
cacaobean_dropna_df

,company,specific_bean_origin,REF,review_date,cocoa_percent,company_location,rating,bean_type,bean_origin_country
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
17,A. Morin,Chuao,1015,2013,70%,France,4.00,Trinitario,Venezuela
...,...,...,...,...,...,...,...,...,...
1784,Zotter,El Oro,879,2012,75%,Austria,3.00,Forastero (Nacional),Ecuador
1785,Zotter,Huiwani Coop,879,2012,75%,Austria,3.00,"Criollo, Trinitario",Papua New Guinea
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India

In [10]:
#drop bean column
first_cacao_df=first_cacao_df.loc[:, ['company', 'specific_bean_origin', 'review_date', 'cocoa_percent',
       'company_location', 'rating', 'bean_type', 'bean_origin_country']]

first_cacao_df

,company,specific_bean_origin,review_date,cocoa_percent,company_location,rating,bean_type,bean_origin_country
0,A. Morin,Agua Grande,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,2011,70%,Austria,3.75,NaN,Peru
1791,Zotter,Congo,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",2010,65%,Austria,3.00,NaN,Brazil

In [11]:
# Clean file with only dropna, keeping bean
cacaobean_dropna_df=first_cacao_df.dropna()
cacaobean_dropna_df

,company,specific_bean_origin,review_date,cocoa_percent,company_location,rating,bean_type,bean_origin_country
5,A. Morin,Carenero,2014,70%,France,2.75,Criollo,Venezuela
7,A. Morin,Sur del Lago,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,2014,70%,France,3.75,Criollo,Venezuela
11,A. Morin,Madagascar,2013,70%,France,3.00,Criollo,Madagascar
17,A. Morin,Chuao,2013,70%,France,4.00,Trinitario,Venezuela
...,...,...,...,...,...,...,...,...
1784,Zotter,El Oro,2012,75%,Austria,3.00,Forastero (Nacional),Ecuador
1785,Zotter,Huiwani Coop,2012,75%,Austria,3.00,"Criollo, Trinitario",Papua New Guinea
1788,Zotter,"Kongo, Highlands",2012,68%,Austria,3.25,Forastero,Congo
1791,Zotter,Congo,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,2011,65%,Austria,3.50,Forastero,India

In [12]:
# Export file as a CSV, without the Pandas index, but with the header
cacaobean_dropna_df.to_csv("cacao_clean_withbean.csv", index=False, header=True)